meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots" content="index,nofollow")
meta(name="copyright" content="Copyright © 2020")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="description" content="SafuuGO is a next generation AI protocol that is built to be future proof and support more efficient value growth whilst generating multiple revenue streams.")
meta(name="url" content="")
meta(name="author" content="")
meta(name="og:url" content="")
meta(name="og:type" content="")
meta(name="og:title" content="")
meta(name="og:description" content="SafuuGO is a next generation AI protocol that is built to be future proof and support more efficient value growth whilst generating multiple revenue streams.")
meta(name="og:image" content="")

meta(name="twitter:title" content="")
meta(name="twitter:site" content="")
meta(name="twitter:description" content="SafuuGO is a next generation AI protocol that is built to be future proof and support more efficient value growth whilst generating multiple revenue streams.")
meta(name="twitter:url" content="")

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

link(rel="canonical" href="#")
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@400;600&display=swap" rel="stylesheet">
link(rel="stylesheet" href="assets/css/main.css")