section.section-page.section-page--countdown
    //- h1.countdown-heading SofuuGo Fair Launch
    //- .countdown
    //-     .countdown__box
    //-         .countdown__label Days
    //-         .countdown__time: span#days
    //-     .countdown__box
    //-         .countdown__label Hours
    //-         .countdown__time: span#hours
    //-     .countdown__box
    //-         .countdown__label Minutes
    //-         .countdown__time: span#minutes
    //-     .countdown__box
    //-         .countdown__label Seconds
    //-         .countdown__time: span#seconds

    .main-logo: img(src="assets/images/big-logo.png", alt="")

    .main-info
        .main-info__desc SafuuGO is an ultra advanced AI driven BEP20 token platform with interoperable, multi-liquidity pool management and buyback &amp; burn systems.
        .main-info__cta
            a.btn.btn--primary(href="https://safuugo.gitbook.io/safuugo/what-is-safuugo/sgo-launch") Buy SGO Tokens
    