section.section-page.section-page--highlight
    .card-section.card-section--highlight
        .container
            .highlight-boxes
                .highlight
                    .highlight__icon: img(src="assets/images/highlight/1.svg", alt="")
                    h2.highlight__label Core AI
                    p.highlight__desc SafuuGO is a next generation AI protocol that is built to be future proof and support more efficient value growth whilst generating multiple revenue streams.
                
                .highlight
                    .highlight__icon: img(src="assets/images/highlight/2.svg", alt="")
                    h2.highlight__label Multi-LP AI
                    p.highlight__desc AI self-management system of global liquidity pools under SafuuGO’s Partnership Program (SPP) allowing partnered tokens to benefit from SGO's utility and growth.
                
                .highlight
                    .highlight__icon: img(src="assets/images/highlight/3.svg", alt="")
                    h2.highlight__label AI Protection
                    p.highlight__desc SafuuGO has hardcoded AI Safety Features including Circuit Breaker, which secures against external attacks and prevents losses aswell as our Automated Braking System (ABS).
