section.section-page.section-page--pricing
     .container
        header.header-section.header-section--pricing
            h2.header-section__title Become a Partner

        .box-pricing
            .pricing
                .pricing__name.text-center Rubi
                h3.pricing__number.text-center $1500
                .pricing__time.text-center /Month
                ul.pricing__benefit
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Native Token Pair
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Public Web Dashboard
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Cruise Control (Default AI)
                
                a(href="https://safuugo.gitbook.io/safuugo/what-is-safuugo/sgo-launch").btn.btn--outline.pricing__cta More Details
            
            .pricing.pricing--popular
                .pricing__label MOST POPULAR
                .pricing__name.text-center Diamond
                h3.pricing__number.text-center $9000
                .pricing__time.text-center /Month
                ul.pricing__benefit
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Native Token Pair
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Public Web Dashboard
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Cruise Control (Customization)
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Cruise Control (Customization)
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Private LP Operator Admin Dashboard
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Marketing/PR support &amp; Outreach
                
                a(href="https://safuugo.gitbook.io/safuugo/what-is-safuugo/sgo-launch").btn.btn--primary.pricing__cta More Details

            
            .pricing
                .pricing__name.text-center Emerald
                h3.pricing__number.text-center $4500
                .pricing__time.text-center /Month
                ul.pricing__benefit
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Native Token Pair
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Public Web Dashboard
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Cruise Control (Customization)
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Cruise Control (Customization)
                    li.benefit
                        .benefit__icon: img(src="assets/images/check.svg", alt="")
                        .benefit__item Private LP Operator Admin Dashboard
                        
                
                a(href="https://safuugo.gitbook.io/safuugo/what-is-safuugo/sgo-launch").btn.btn--outline.pricing__cta More Details

