section.section-page.section-page--roadmap
     .container
        header.header-section.header-section--roadmap
            h2.header-section__title AI Phase

        .timeline-roadmap
            .timeline.timeline--achieved
                .timeline__info
                    .timeline__card
                        h3.timeline__heading Architectural Vision
                        p.timeline__desc The initial etchings of formulating a <br> strategic vision to meet the end goal.

                .timeline__point.timeline--achieved__point: span
                .timeline__phase.timeline--achieved__phase Phase I
            
            .timeline.timeline--reverse.timeline--achieved
                .timeline__info.timeline--reverse__info
                    .timeline__card
                        h3.timeline__heading Rules Based
                        p.timeline__desc TThis is the AI that will launch with SGO and is embedded in the smart contract. It doesn't require as much data since it is hand coded with "rules" that will determine its decision process and behavior.

                .timeline__point.timeline--achieved__point: span
                .timeline__phase.timeline--reverse__phase.timeline--achieved__phase Phase II
            
            .timeline
                .timeline__info
                    .timeline__card
                        h3.timeline__heading Adaptable Expert System
                        p.timeline__desc Phase III will employ Random Forest Decision Tree technology for this upgraded AI phase. Decision trees are a human understandable AI system - it is easy to see how this AI system reaches conclusions. Decisions are broken down based on decision points (or parameters).

                .timeline__point: span
                .timeline__phase Phase III
           
            .timeline.timeline--reverse
                .timeline__info.timeline--reverse__info
                    .timeline__card
                        h3.timeline__heading Generative, Pre-trained (GPT4 level)
                        p.timeline__desc This is the "Cadillac" of AI's -the latest technology that has taken the world by storm. Once we have enough data, we can pre-train this level of AI to handle SGO. The key to having a successful Generative AI is having lots of data.

                .timeline__point: span
                .timeline__phase.timeline--reverse__phase Phase IV
