section.section-page.section-page--tech
    .container
        header.header-section.header-section--tech
            h2.header-section__title AI Technology
            .header-section__desc
                strong SafuuGO is a next generation AI protocol that is built to be future proof and support more efficient value growth.
                p SafuuGO is an ultra advanced AI driven BEP20 token platform with integrated, upgradable, interoperable,multi-liquidity pool management and buyback & burn systems operating through integration of our own proprietary Navigational Artificial Intelligence Layer (NAIL).
            .header-section__cta
                a(href="https://safuugo.gitbook.io/safuugo/").btn.btn--primary Whitepaper
            

        //- box tabs
        .box-tech
            p.text-center Loading...